<Accordion>
    @foreach(var item in Items){
        <Collapse Visible="@ItemVisibilities[item.Id]">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <Button Clicked="@(()=>@ItemVisibilities[item.Id] = !@ItemVisibilities[item.Id])">@item.Name</Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                @if (item.Children.Count() > 0)
                {
                        <ListGroup Mode="ListGroupMode.Selectable" @bind-SelectedItem="SelectedChild">
                            @foreach (var subItem in item.Children)
                            {
                                <ListGroupItem >@subItem.Name</ListGroupItem>
                            }
                        </ListGroup>
                }
            </CollapseBody>
        </Collapse>
    }
</Accordion>