@using Horeca.Localization
@using Horeca.Categories
@using Horeca.Utils

@inherits HorecaComponentBase

@inject AbpBlazorMessageLocalizerHelper<HorecaResource> LH
<Row>
    <Card>
        <CardBody>
            <Fields>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12">
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is2">@L["Price"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <NumericEdit TValue="decimal" @bind-Value="@ProductBidDto.Price"/>
                            </FieldBody>
                        </Field>
                    </Column>
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12">
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is2">@L["MaxPurchaseAmount"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <NumericEdit TValue="int" @bind-Value="@ProductBidDto.MaxPurchaseAmount"/>
                            </FieldBody>
                        </Field>
                    </Column>
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12">
                        <Field Horizontal>
                            <FieldLabel ColumnSize="ColumnSize.Is2">@L["MinPurchaseAmount"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.Is10">
                                <NumericEdit TValue="int" @bind-Value="@ProductBidDto.MinPurchaseAmount"/>
                            </FieldBody>
                        </Field>
                    </Column>
                </Row>
            </Fields>
        </CardBody>
    </Card>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <Button Color="Color.Primary" Clicked='()=>NavigateTo(StepName.Details)'>
                                        @L["Back"]</Button>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <Button Color="Color.Primary" Clicked='()=>NavigateTo(StepName.Finish)'>
                                        @L["Next"]</Button>
    </Column>
</Row>