@using Horeca.OrderLines
@using Horeca.Orders
@using Horeca.ProductBids
@using Horeca.Products
@using Volo.Abp.AspNetCore.Components
@inherits HorecaComponentBase
@inject IProductAppService ProductAppService
@inject IProductBidAppService ProductBidAppService
@inject IOrderAppService OrderAppService 
@inject IOrderLineAppService OrderLineAppService 

<Alert @ref="countAlert" Color="Color.Danger">
    <AlertMessage>
        @L["Count couldn't be 0"]
    </AlertMessage>
</Alert>
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <Image Width ="Width.Is100" Height = "Height.Is100" Source="https://dummyimage.com/284x206/000/fff"></Image>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <Heading Size="HeadingSize.Is3">@L["Name:"]</Heading>
            </Column>
            <Column ColumnSize="ColumnSize.Is6">
                <Heading Size="HeadingSize.Is3">@Product.Name</Heading>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <Heading Size="HeadingSize.Is3">@L["Manufacturer:"]</Heading>
            </Column>
            <Column ColumnSize="ColumnSize.Is6">
                <Heading Size="HeadingSize.Is3">@Product.Manufacturer</Heading>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <Heading Size="HeadingSize.Is3">@L["Description:"]</Heading>
            </Column>
            <Column ColumnSize="ColumnSize.Is6">
                <Heading Size="HeadingSize.Is3">@Product.Description</Heading>
            </Column>
        </Row>
    </Column>
</Row>

<Card>
    <CardBody>
        <DataGrid TItem="ProductBidDto"
                  Data="ProductBidList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn TItem="ProductBidDto"
                                Field="@nameof(ProductBidDto.SupplierName)"
                                Caption="@L["Supplier"]">
                    <DisplayTemplate>
                        <Button Outline Clicked="() => NavigatoToSupplier(context)">@context.SupplierName</Button>
                    </DisplayTemplate>            
                </DataGridColumn>
                <DataGridColumn TItem="ProductBidDto"
                                Field="@nameof(ProductBidDto.Price)"
                                Caption="@L["Price"]"></DataGridColumn>
                <DataGridColumn TItem="ProductBidDto"
                                Field="@nameof(ProductBidDto.Id)"
                                Caption="@L["Count"]"
                                Sortable="false">
                    <DisplayTemplate>
                            <NumericEdit 
                                TValue="int"
                                Min="context.MinPurchaseAmount"
                                Max="context.MaxPurchaseAmount" 
                                class = "itemCounter"
                                @bind-Value="@OrderCounts[context.Id]">
                            </NumericEdit>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Width="150px"
                                TItem="ProductBidDto"
                                Field="@nameof(ProductBidDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <Button class="button" Clicked="() => AddToBasket(context)">
                            @L["Add to basket"]
                        </Button>
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>