@using Horeca.ProductBids
@using Horeca.Products
@using Volo.Abp.AspNetCore.Components
@inject IProductAppService ProductAppService
@inject IProductBidAppService ProductBidAppService


<h3>ProductInfo</h3>

<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <Image Width ="Width.Is100" Height = "Height.Is100" Source="https://dummyimage.com/284x206/000/fff"></Image>
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <Row>
            @Product.Name
        </Row>
        <Row>
            @Product.Manufacturer
        </Row>
        <Row>
            @Product.ApprovalState
        </Row>
        <Row>
            @Product.CreationTime
        </Row>
        <Row>
            @ProductBidDto.Price
        </Row>
        <Row>
            @ProductBidDto.MinPurchaseAmount
        </Row>
        <Row>
            @ProductBidDto.MaxPurchaseAmount
        </Row>

    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is6">
        <Rating Color="Color.Primary" />
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        <Button class="button" Clicked='()=>AddToCard()'>
            Add to card
        </Button>
    </Column>
</Row>

<Row>
    @Product.Description
</Row>
<Row>
    @foreach (var product in ProductBidList)
    {
        <Column ColumnSize="ColumnSize.Is4">
            <Card>
                <CardImage Width ="Width.Is100" Height = "Height.Is50" Source="https://dummyimage.com/284x206/000/fff"></CardImage>
                <CardBody>
                    <Rating Color="Color.Primary" />
                    <CardTitle Size="5">@product.Price</CardTitle>
                    <CardSubtitle>@Product.Manufacturer</CardSubtitle>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is12">
                            <Button class="button" Clicked='()=>NavigateTo(product)'>
                                Go To Details
                            </Button>
                        </Column>
                    </Row>
                </CardBody>
            </Card>
        </Column>
    }
</Row>

